In [1]:
import pandas as pd

In [2]:
train_path = "C:/Users/books/Downloads/all/train.csv"

In [3]:
titanic = pd.read_csv(train_path)

In [4]:
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [5]:
titanic = titanic.drop(columns=['PassengerId', 'Name', 'Ticket'])

In [6]:
titanic

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,0,3,male,22.0,1,0,7.2500,NaN,S
1,1,1,female,38.0,1,0,71.2833,C85,C
2,1,3,female,26.0,0,0,7.9250,NaN,S
3,1,1,female,35.0,1,0,53.1000,C123,S
4,0,3,male,35.0,0,0,8.0500,NaN,S
5,0,3,male,NaN,0,0,8.4583,NaN,Q
6,0,1,male,54.0,0,0,51.8625,E46,S
7,0,3,male,2.0,3,1,21.0750,NaN,S
8,1,3,female,27.0,0,2,11.1333,NaN,S
9,1,2,female,14.0,1,0,30.0708,NaN,C
10,1,3,female,4.0,1,1,16.7000,G6,S
11,1,1,female,58.0,0,0,26.5500,C103,S
12,0,3,male,20.0,0,0,8.0500,NaN,S
13,0,3,male,39.0,1,5,31.2750,NaN,S
14,0,3,female,14.0,0,0,7.8542,NaN,S
15,1,2,female,55.0,0,0,16.0000,NaN,S
16,0,3,male,2.0,4,1,29.1250,NaN,Q
17,1,2,male,NaN,0,0,13.0000,NaN,S
18,0,3,female,31.0,1,0,18.0000,NaN,S
19,1,3,female,NaN,0,0,7.2250,NaN,C
20,0,2,male,35.0,0,0,26.0000,NaN,S
21,1,2,male,34.0,0,0,13.0000,D56,S
22,1,3,female,15.0,0,0,8.0292,NaN,Q
23,1,1,male,28.0,0,0,35.5000,A6,S
24,0,3,female,8.0,3,1,21.0750,NaN,S
25,1,3,female,38.0,1,5,31.3875,NaN,S
26,0,3,male,NaN,0,0,7.2250,NaN,C
27,0,1,male,19.0,3,2,263.0000,C23 C25 C27,S
28,1,3,female,NaN,0,0,7.8792,NaN,Q
29,0,3,male,NaN,0,0,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...
861,0,2,male,21.0,1,0,11.5000,NaN,S
862,1,1,female,48.0,0,0,25.9292,D17,S
863,0,3,female,NaN,8,2,69.5500,NaN,S
864,0,2,male,24.0,0,0,13.0000,NaN,S
865,1,2,female,42.0,0,0,13.0000,NaN,S
866,1,2,female,27.0,1,0,13.8583,NaN,C
867,0,1,male,31.0,0,0,50.4958,A24,S
868,0,3,male,NaN,0,0,9.5000,NaN,S
869,1,3,male,4.0,1,1,11.1333,NaN,S
870,0,3,male,26.0,0,0,7.8958,NaN,S
871,1,1,female,47.0,1,1,52.5542,D35,S
872,0,1,male,33.0,0,0,5.0000,B51 B53 B55,S
873,0,3,male,47.0,0,0,9.0000,NaN,S
874,1,2,female,28.0,1,0,24.0000,NaN,C
875,1,3,female,15.0,0,0,7.2250,NaN,C
876,0,3,male,20.0,0,0,9.8458,NaN,S
877,0,3,male,19.0,0,0,7.8958,NaN,S
878,0,3,male,NaN,0,0,7.8958,NaN,S
879,1,1,female,56.0,0,1,83.1583,C50,C
880,1,2,female,25.0,0,1,26.0000,NaN,S
881,0,3,male,33.0,0,0,7.8958,NaN,S
882,0,3,female,22.0,0,0,10.5167,NaN,S
883,0,2,male,28.0,0,0,10.5000,NaN,S
884,0,3,male,25.0,0,0,7.0500,NaN,S
885,0,3,female,39.0,0,5,29.1250,NaN,Q
886,0,2,male,27.0,0,0,13.0000,NaN,S
887,1,1,female,19.0,0,0,30.0000,B42,S
888,0,3,female,NaN,1,2,23.4500,NaN,S
889,1,1,male,26.0,0,0,30.0000,C148,C
890,0,3,male,32.0,0,0,7.7500,NaN,Q

In [7]:
titanic.count()

Survived    891
Pclass      891
Sex         891
Age         714
SibSp       891
Parch       891
Fare        891
Cabin       204
Embarked    889
dtype: int64

In [8]:
titanic = titanic.drop(columns='Cabin')

In [9]:
titanic = titanic.dropna(axis=0, how='any')

In [10]:
titanic

     Survived  Pclass     Sex   Age  SibSp  Parch      Fare Embarked
0           0       3    male  22.0      1      0    7.2500        S
1           1       1  female  38.0      1      0   71.2833        C
2           1       3  female  26.0      0      0    7.9250        S
3           1       1  female  35.0      1      0   53.1000        S
4           0       3    male  35.0      0      0    8.0500        S
6           0       1    male  54.0      0      0   51.8625        S
7           0       3    male   2.0      3      1   21.0750        S
8           1       3  female  27.0      0      2   11.1333        S
9           1       2  female  14.0      1      0   30.0708        C
10          1       3  female   4.0      1      1   16.7000        S
11          1       1  female  58.0      0      0   26.5500        S
12          0       3    male  20.0      0      0    8.0500        S
13          0       3    male  39.0      1      5   31.2750        S
14          0       3  female  14.0      0      0    7.8542        S
15          1       2  female  55.0      0      0   16.0000        S
16          0       3    male   2.0      4      1   29.1250        Q
18          0       3  female  31.0      1      0   18.0000        S
20          0       2    male  35.0      0      0   26.0000        S
21          1       2    male  34.0      0      0   13.0000        S
22          1       3  female  15.0      0      0    8.0292        Q
23          1       1    male  28.0      0      0   35.5000        S
24          0       3  female   8.0      3      1   21.0750        S
25          1       3  female  38.0      1      5   31.3875        S
27          0       1    male  19.0      3      2  263.0000        S
30          0       1    male  40.0      0      0   27.7208        C
33          0       2    male  66.0      0      0   10.5000        S
34          0       1    male  28.0      1      0   82.1708        C
35          0       1    male  42.0      1      0   52.0000        S
37          0       3    male  21.0      0      0    8.0500        S
38          0       3  female  18.0      2      0   18.0000        S
..        ...     ...     ...   ...    ...    ...       ...      ...
856         1       1  female  45.0      1      1  164.8667        S
857         1       1    male  51.0      0      0   26.5500        S
858         1       3  female  24.0      0      3   19.2583        C
860         0       3    male  41.0      2      0   14.1083        S
861         0       2    male  21.0      1      0   11.5000        S
862         1       1  female  48.0      0      0   25.9292        S
864         0       2    male  24.0      0      0   13.0000        S
865         1       2  female  42.0      0      0   13.0000        S
866         1       2  female  27.0      1      0   13.8583        C
867         0       1    male  31.0      0      0   50.4958        S
869         1       3    male   4.0      1      1   11.1333        S
870         0       3    male  26.0      0      0    7.8958        S
871         1       1  female  47.0      1      1   52.5542        S
872         0       1    male  33.0      0      0    5.0000        S
873         0       3    male  47.0      0      0    9.0000        S
874         1       2  female  28.0      1      0   24.0000        C
875         1       3  female  15.0      0      0    7.2250        C
876         0       3    male  20.0      0      0    9.8458        S
877         0       3    male  19.0      0      0    7.8958        S
879         1       1  female  56.0      0      1   83.1583        C
880         1       2  female  25.0      0      1   26.0000        S
881         0       3    male  33.0      0      0    7.8958        S
882         0       3  female  22.0      0      0   10.5167        S
883         0       2    male  28.0      0      0   10.5000        S
884         0       3    male  25.0      0      0    7.0500        S
885         0       3  female  39.0      0      5   29.1250        Q
886         0       2    male  27.0      0      0   13.0000        S
887         1       1  female  19.0      0      0   30.0000        S
889         1       1    male  26.0      0      0   30.0000        C
890         0       3    male  32.0      0      0    7.7500        Q

[712 rows x 8 columns]

In [35]:
train = titanic.sample(frac=0.8)

In [36]:
train

     Survived  Pclass     Sex    Age  SibSp  Parch      Fare Embarked
27          0       1    male  19.00      3      2  263.0000        S
293         0       3  female  24.00      0      0    8.8500        S
519         0       3    male  32.00      0      0    7.8958        S
183         1       2    male   1.00      2      1   39.0000        S
831         1       2    male   0.83      1      1   18.7500        S
262         0       1    male  52.00      1      1   79.6500        S
721         0       3    male  17.00      1      0    7.0542        S
230         1       1  female  35.00      1      0   83.4750        S
541         0       3  female   9.00      4      2   31.2750        S
600         1       2  female  24.00      2      1   27.0000        S
647         1       1    male  56.00      0      0   35.5000        C
460         1       1    male  48.00      0      0   26.5500        S
249         0       2    male  54.00      1      0   26.0000        S
678         0       3  female  43.00      1      6   46.9000        S
636         0       3    male  32.00      0      0    7.9250        S
609         1       1  female  40.00      0      0  153.4625        S
483         1       3  female  63.00      0      0    9.5875        S
847         0       3    male  35.00      0      0    7.8958        C
387         1       2  female  36.00      0      0   13.0000        S
366         1       1  female  60.00      1      0   75.2500        C
248         1       1    male  37.00      1      1   52.5542        S
134         0       2    male  25.00      0      0   13.0000        S
767         0       3  female  30.50      0      0    7.7500        Q
516         1       2  female  34.00      0      0   10.5000        S
597         0       3    male  49.00      0      0    0.0000        S
438         0       1    male  64.00      1      4  263.0000        S
117         0       2    male  29.00      1      0   21.0000        S
44          1       3  female  19.00      0      0    7.8792        Q
539         1       1  female  22.00      0      2   49.5000        C
67          0       3    male  19.00      0      0    8.1583        S
..        ...     ...     ...    ...    ...    ...       ...      ...
79          1       3  female  30.00      0      0   12.4750        S
108         0       3    male  38.00      0      0    7.8958        S
273         0       1    male  37.00      0      1   29.7000        C
860         0       3    male  41.00      2      0   14.1083        S
465         0       3    male  38.00      0      0    7.0500        S
299         1       1  female  50.00      0      1  247.5208        C
665         0       2    male  32.00      2      0   73.5000        S
39          1       3  female  14.00      1      0   11.2417        C
508         0       3    male  28.00      0      0   22.5250        S
745         0       1    male  70.00      1      1   71.0000        S
15          1       2  female  55.00      0      0   16.0000        S
125         1       3    male  12.00      1      0   11.2417        C
412         1       1  female  33.00      1      0   90.0000        Q
618         1       2  female   4.00      2      1   39.0000        S
197         0       3    male  42.00      0      1    8.4042        S
91          0       3    male  20.00      0      0    7.8542        S
781         1       1  female  17.00      1      0   57.0000        S
572         1       1    male  36.00      0      0   26.3875        S
571         1       1  female  53.00      2      0   51.4792        S
699         0       3    male  42.00      0      0    7.6500        S
272         1       2  female  41.00      0      1   19.5000        S
746         0       3    male  16.00      1      1   20.2500        S
820         1       1  female  52.00      1      1   93.5000        S
219         0       2    male  30.00      0      0   10.5000        S
672         0       2    male  70.00      0      0   10.5000        S
662         0       1    male  47.00      0      0   25.5875        S
408         0       3    male  21.00      0      0    7.7750        S
62          0       1    male  45.00      1      0   83.4750        S
325         1       1  female  36.00      0      0  135.6333        C
60          0       3    male  22.00      0      0    7.2292        C

[570 rows x 8 columns]

In [37]:
valid = titanic.drop(index=train.index)

In [38]:
valid

     Survived  Pclass     Sex    Age  SibSp  Parch      Fare Embarked
1           1       1  female  38.00      1      0   71.2833        C
4           0       3    male  35.00      0      0    8.0500        S
6           0       1    male  54.00      0      0   51.8625        S
11          1       1  female  58.00      0      0   26.5500        S
14          0       3  female  14.00      0      0    7.8542        S
16          0       3    male   2.00      4      1   29.1250        Q
25          1       3  female  38.00      1      5   31.3875        S
52          1       1  female  49.00      1      0   76.7292        C
59          0       3    male  11.00      5      2   46.9000        S
63          0       3    male   4.00      3      2   27.9000        S
71          0       3  female  16.00      5      2   46.9000        S
73          0       3    male  26.00      1      0   14.4542        C
84          1       2  female  17.00      0      0   10.5000        S
98          1       2  female  34.00      0      1   23.0000        S
99          0       2    male  34.00      1      0   26.0000        S
103         0       3    male  33.00      0      0    8.6542        S
112         0       3    male  22.00      0      0    8.0500        S
115         0       3    male  21.00      0      0    7.9250        S
116         0       3    male  70.50      0      0    7.7500        Q
122         0       2    male  32.50      1      0   30.0708        C
132         0       3  female  47.00      1      0   14.5000        S
143         0       3    male  19.00      0      0    6.7500        Q
148         0       2    male  36.50      0      2   26.0000        S
165         1       3    male   9.00      0      2   20.5250        S
175         0       3    male  18.00      1      1    7.8542        S
182         0       3    male   9.00      4      2   31.3875        S
187         1       1    male  45.00      0      0   26.5500        S
188         0       3    male  40.00      1      1   15.5000        Q
203         0       3    male  45.50      0      0    7.2250        C
207         1       3    male  26.00      0      0   18.7875        C
..        ...     ...     ...    ...    ...    ...       ...      ...
719         0       3    male  33.00      0      0    7.7750        S
723         0       2    male  50.00      0      0   13.0000        S
724         1       1    male  27.00      1      0   53.1000        S
728         0       2    male  25.00      1      0   26.0000        S
730         1       1  female  29.00      0      0  211.3375        S
744         1       3    male  31.00      0      0    7.9250        S
755         1       2    male   0.67      1      1   14.5000        S
758         0       3    male  34.00      0      0    8.0500        S
770         0       3    male  24.00      0      0    9.5000        S
772         0       2  female  57.00      0      0   10.5000        S
786         1       3  female  18.00      0      0    7.4958        S
794         0       3    male  25.00      0      0    7.8958        S
796         1       1  female  49.00      0      0   25.9292        S
802         1       1    male  11.00      1      2  120.0000        S
814         0       3    male  30.50      0      0    8.0500        S
819         0       3    male  10.00      3      2   27.9000        S
821         1       3    male  27.00      0      0    8.6625        S
835         1       1  female  39.00      1      1   83.1583        C
845         0       3    male  42.00      0      0    7.5500        S
850         0       3    male   4.00      4      2   31.2750        S
857         1       1    male  51.00      0      0   26.5500        S
861         0       2    male  21.00      1      0   11.5000        S
864         0       2    male  24.00      0      0   13.0000        S
870         0       3    male  26.00      0      0    7.8958        S
871         1       1  female  47.00      1      1   52.5542        S
877         0       3    male  19.00      0      0    7.8958        S
880         1       2  female  25.00      0      1   26.0000        S
882         0       3  female  22.00      0      0   10.5167        S
884         0       3    male  25.00      0      0    7.0500        S
890         0       3    male  32.00      0      0    7.7500        Q

[142 rows x 8 columns]

In [39]:
train_x = train.loc[:, 'Pclass':'Embarked']

In [40]:
train_y = train[['Survived']]

In [41]:
train_x

     Pclass     Sex    Age  SibSp  Parch      Fare Embarked
27        1    male  19.00      3      2  263.0000        S
293       3  female  24.00      0      0    8.8500        S
519       3    male  32.00      0      0    7.8958        S
183       2    male   1.00      2      1   39.0000        S
831       2    male   0.83      1      1   18.7500        S
262       1    male  52.00      1      1   79.6500        S
721       3    male  17.00      1      0    7.0542        S
230       1  female  35.00      1      0   83.4750        S
541       3  female   9.00      4      2   31.2750        S
600       2  female  24.00      2      1   27.0000        S
647       1    male  56.00      0      0   35.5000        C
460       1    male  48.00      0      0   26.5500        S
249       2    male  54.00      1      0   26.0000        S
678       3  female  43.00      1      6   46.9000        S
636       3    male  32.00      0      0    7.9250        S
609       1  female  40.00      0      0  153.4625        S
483       3  female  63.00      0      0    9.5875        S
847       3    male  35.00      0      0    7.8958        C
387       2  female  36.00      0      0   13.0000        S
366       1  female  60.00      1      0   75.2500        C
248       1    male  37.00      1      1   52.5542        S
134       2    male  25.00      0      0   13.0000        S
767       3  female  30.50      0      0    7.7500        Q
516       2  female  34.00      0      0   10.5000        S
597       3    male  49.00      0      0    0.0000        S
438       1    male  64.00      1      4  263.0000        S
117       2    male  29.00      1      0   21.0000        S
44        3  female  19.00      0      0    7.8792        Q
539       1  female  22.00      0      2   49.5000        C
67        3    male  19.00      0      0    8.1583        S
..      ...     ...    ...    ...    ...       ...      ...
79        3  female  30.00      0      0   12.4750        S
108       3    male  38.00      0      0    7.8958        S
273       1    male  37.00      0      1   29.7000        C
860       3    male  41.00      2      0   14.1083        S
465       3    male  38.00      0      0    7.0500        S
299       1  female  50.00      0      1  247.5208        C
665       2    male  32.00      2      0   73.5000        S
39        3  female  14.00      1      0   11.2417        C
508       3    male  28.00      0      0   22.5250        S
745       1    male  70.00      1      1   71.0000        S
15        2  female  55.00      0      0   16.0000        S
125       3    male  12.00      1      0   11.2417        C
412       1  female  33.00      1      0   90.0000        Q
618       2  female   4.00      2      1   39.0000        S
197       3    male  42.00      0      1    8.4042        S
91        3    male  20.00      0      0    7.8542        S
781       1  female  17.00      1      0   57.0000        S
572       1    male  36.00      0      0   26.3875        S
571       1  female  53.00      2      0   51.4792        S
699       3    male  42.00      0      0    7.6500        S
272       2  female  41.00      0      1   19.5000        S
746       3    male  16.00      1      1   20.2500        S
820       1  female  52.00      1      1   93.5000        S
219       2    male  30.00      0      0   10.5000        S
672       2    male  70.00      0      0   10.5000        S
662       1    male  47.00      0      0   25.5875        S
408       3    male  21.00      0      0    7.7750        S
62        1    male  45.00      1      0   83.4750        S
325       1  female  36.00      0      0  135.6333        C
60        3    male  22.00      0      0    7.2292        C

[570 rows x 7 columns]

In [42]:
train_y

     Survived
27          0
293         0
519         0
183         1
831         1
262         0
721         0
230         1
541         0
600         1
647         1
460         1
249         0
678         0
636         0
609         1
483         1
847         0
387         1
366         1
248         1
134         0
767         0
516         1
597         0
438         0
117         0
44          1
539         1
67          0
..        ...
79          1
108         0
273         0
860         0
465         0
299         1
665         0
39          1
508         0
745         0
15          1
125         1
412         1
618         1
197         0
91          0
781         1
572         1
571         1
699         0
272         1
746         0
820         1
219         0
672         0
662         0
408         0
62          0
325         1
60          0

[570 rows x 1 columns]

In [43]:
valid_x = valid.loc[:, 'Pclass':'Embarked']
valid_y = valid[['Survived']]

In [20]:
from sklearn.tree import DecisionTreeClassifier

In [21]:
model = DecisionTreeClassifier()

In [22]:
model.fit(train_x, train_y)

ValueError: could not convert string to float: 'male'

In [ ]:
model.score(train_x, train_y)

In [ ]:
valid_x

In [23]:
train_x

     Pclass     Sex   Age  SibSp  Parch      Fare Embarked
313       3    male  28.0      0      0    7.8958        S
6         1    male  54.0      0      0   51.8625        S
450       2    male  36.0      1      2   27.7500        S
200       3    male  28.0      0      0    9.5000        S
605       3    male  36.0      1      0   15.5500        S
89        3    male  24.0      0      0    8.0500        S
876       3    male  20.0      0      0    9.8458        S
336       1    male  29.0      1      0   66.6000        S
391       3    male  21.0      0      0    7.7958        S
363       3    male  35.0      0      0    7.0500        S
791       2    male  16.0      0      0   26.0000        S
208       3  female  16.0      0      0    7.7500        Q
182       3    male   9.0      4      2   31.3875        S
677       3  female  18.0      0      0    9.8417        S
794       3    male  25.0      0      0    7.8958        S
645       1    male  48.0      1      0   76.7292        C
100       3  female  28.0      0      0    7.8958        S
872       1    male  33.0      0      0    5.0000        S
290       1  female  26.0      0      0   78.8500        S
92        1    male  46.0      1      0   61.1750        S
291       1  female  19.0      1      0   91.0792        C
383       1  female  35.0      1      0   52.0000        S
881       3    male  33.0      0      0    7.8958        S
472       2  female  33.0      1      2   27.7500        S
297       1  female   2.0      1      2  151.5500        S
796       1  female  49.0      0      0   25.9292        S
781       1  female  17.0      1      0   57.0000        S
855       3  female  18.0      0      1    9.3500        S
268       1  female  58.0      0      1  153.4625        S
867       1    male  31.0      0      0   50.4958        S
..      ...     ...   ...    ...    ...       ...      ...
864       2    male  24.0      0      0   13.0000        S
35        1    male  42.0      1      0   52.0000        S
536       1    male  45.0      0      0   26.5500        S
679       1    male  36.0      0      1  512.3292        C
465       3    male  38.0      0      0    7.0500        S
245       1    male  44.0      2      0   90.0000        Q
634       3  female   9.0      3      2   27.9000        S
695       2    male  52.0      0      0   13.5000        S
72        2    male  21.0      0      0   73.5000        S
331       1    male  45.5      0      0   28.5000        S
728       2    male  25.0      1      0   26.0000        S
433       3    male  17.0      0      0    7.1250        S
604       1    male  35.0      0      0   26.5500        C
44        3  female  19.0      0      0    7.8792        Q
549       2    male   8.0      1      1   36.7500        S
360       3    male  40.0      1      4   27.9000        S
610       3  female  39.0      1      5   31.2750        S
399       2  female  28.0      0      0   12.6500        S
230       1  female  35.0      1      0   83.4750        S
537       1  female  30.0      0      0  106.4250        C
419       3  female  10.0      0      2   24.1500        S
779       1  female  43.0      0      1  211.3375        S
769       3    male  32.0      0      0    8.3625        S
73        3    male  26.0      1      0   14.4542        C
707       1    male  42.0      0      0   26.2875        S
857       1    male  51.0      0      0   26.5500        S
74        3    male  32.0      0      0   56.4958        S
752       3    male  33.0      0      0    9.5000        S
449       1    male  52.0      0      0   30.5000        S
218       1  female  32.0      0      0   76.2917        C

[570 rows x 7 columns]

In [1]:
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder

In [25]:
ord_enc = OrdinalEncoder()

In [26]:
ord_enc.fit(train_x[['Sex', 'Embarked']])

OrdinalEncoder(categories='auto', dtype=<class 'numpy.float64'>)

In [27]:
ord_enc.categories_

[array(['female', 'male'], dtype=object), array(['C', 'Q', 'S'], dtype=object)]

In [28]:
ord_enc.transform(train_x[['Sex', 'Embarked']])

array([[1., 2.],
       [1., 2.],
       [1., 2.],
       ...,
       [1., 2.],
       [1., 2.],
       [0., 0.]])

In [30]:
train_x[['Sex', 'Embarked']] = ord_enc.transform(train_x[['Sex', 'Embarked']])

In [31]:
train_x

     Pclass  Sex   Age  SibSp  Parch      Fare  Embarked
313       3  1.0  28.0      0      0    7.8958       2.0
6         1  1.0  54.0      0      0   51.8625       2.0
450       2  1.0  36.0      1      2   27.7500       2.0
200       3  1.0  28.0      0      0    9.5000       2.0
605       3  1.0  36.0      1      0   15.5500       2.0
89        3  1.0  24.0      0      0    8.0500       2.0
876       3  1.0  20.0      0      0    9.8458       2.0
336       1  1.0  29.0      1      0   66.6000       2.0
391       3  1.0  21.0      0      0    7.7958       2.0
363       3  1.0  35.0      0      0    7.0500       2.0
791       2  1.0  16.0      0      0   26.0000       2.0
208       3  0.0  16.0      0      0    7.7500       1.0
182       3  1.0   9.0      4      2   31.3875       2.0
677       3  0.0  18.0      0      0    9.8417       2.0
794       3  1.0  25.0      0      0    7.8958       2.0
645       1  1.0  48.0      1      0   76.7292       0.0
100       3  0.0  28.0      0      0    7.8958       2.0
872       1  1.0  33.0      0      0    5.0000       2.0
290       1  0.0  26.0      0      0   78.8500       2.0
92        1  1.0  46.0      1      0   61.1750       2.0
291       1  0.0  19.0      1      0   91.0792       0.0
383       1  0.0  35.0      1      0   52.0000       2.0
881       3  1.0  33.0      0      0    7.8958       2.0
472       2  0.0  33.0      1      2   27.7500       2.0
297       1  0.0   2.0      1      2  151.5500       2.0
796       1  0.0  49.0      0      0   25.9292       2.0
781       1  0.0  17.0      1      0   57.0000       2.0
855       3  0.0  18.0      0      1    9.3500       2.0
268       1  0.0  58.0      0      1  153.4625       2.0
867       1  1.0  31.0      0      0   50.4958       2.0
..      ...  ...   ...    ...    ...       ...       ...
864       2  1.0  24.0      0      0   13.0000       2.0
35        1  1.0  42.0      1      0   52.0000       2.0
536       1  1.0  45.0      0      0   26.5500       2.0
679       1  1.0  36.0      0      1  512.3292       0.0
465       3  1.0  38.0      0      0    7.0500       2.0
245       1  1.0  44.0      2      0   90.0000       1.0
634       3  0.0   9.0      3      2   27.9000       2.0
695       2  1.0  52.0      0      0   13.5000       2.0
72        2  1.0  21.0      0      0   73.5000       2.0
331       1  1.0  45.5      0      0   28.5000       2.0
728       2  1.0  25.0      1      0   26.0000       2.0
433       3  1.0  17.0      0      0    7.1250       2.0
604       1  1.0  35.0      0      0   26.5500       0.0
44        3  0.0  19.0      0      0    7.8792       1.0
549       2  1.0   8.0      1      1   36.7500       2.0
360       3  1.0  40.0      1      4   27.9000       2.0
610       3  0.0  39.0      1      5   31.2750       2.0
399       2  0.0  28.0      0      0   12.6500       2.0
230       1  0.0  35.0      1      0   83.4750       2.0
537       1  0.0  30.0      0      0  106.4250       0.0
419       3  0.0  10.0      0      2   24.1500       2.0
779       1  0.0  43.0      0      1  211.3375       2.0
769       3  1.0  32.0      0      0    8.3625       2.0
73        3  1.0  26.0      1      0   14.4542       0.0
707       1  1.0  42.0      0      0   26.2875       2.0
857       1  1.0  51.0      0      0   26.5500       2.0
74        3  1.0  32.0      0      0   56.4958       2.0
752       3  1.0  33.0      0      0    9.5000       2.0
449       1  1.0  52.0      0      0   30.5000       2.0
218       1  0.0  32.0      0      0   76.2917       0.0

[570 rows x 7 columns]

In [32]:
ord_enc.fit(valid_x[['Sex', 'Embarked']])

OrdinalEncoder(categories='auto', dtype=<class 'numpy.float64'>)

In [33]:
ord_enc.categories_

[array(['female', 'male'], dtype=object), array(['C', 'Q', 'S'], dtype=object)]

In [34]:
OrdinalEncoder(categories=[['male', 'female'], ['C', 'S', 'Q']])

OrdinalEncoder(categories=[['male', 'female'], ['C', 'S', 'Q']],
        dtype=<class 'numpy.float64'>)

In [46]:
train_x

     Pclass     Sex    Age  SibSp  Parch      Fare Embarked
27        1    male  19.00      3      2  263.0000        S
293       3  female  24.00      0      0    8.8500        S
519       3    male  32.00      0      0    7.8958        S
183       2    male   1.00      2      1   39.0000        S
831       2    male   0.83      1      1   18.7500        S
262       1    male  52.00      1      1   79.6500        S
721       3    male  17.00      1      0    7.0542        S
230       1  female  35.00      1      0   83.4750        S
541       3  female   9.00      4      2   31.2750        S
600       2  female  24.00      2      1   27.0000        S
647       1    male  56.00      0      0   35.5000        C
460       1    male  48.00      0      0   26.5500        S
249       2    male  54.00      1      0   26.0000        S
678       3  female  43.00      1      6   46.9000        S
636       3    male  32.00      0      0    7.9250        S
609       1  female  40.00      0      0  153.4625        S
483       3  female  63.00      0      0    9.5875        S
847       3    male  35.00      0      0    7.8958        C
387       2  female  36.00      0      0   13.0000        S
366       1  female  60.00      1      0   75.2500        C
248       1    male  37.00      1      1   52.5542        S
134       2    male  25.00      0      0   13.0000        S
767       3  female  30.50      0      0    7.7500        Q
516       2  female  34.00      0      0   10.5000        S
597       3    male  49.00      0      0    0.0000        S
438       1    male  64.00      1      4  263.0000        S
117       2    male  29.00      1      0   21.0000        S
44        3  female  19.00      0      0    7.8792        Q
539       1  female  22.00      0      2   49.5000        C
67        3    male  19.00      0      0    8.1583        S
..      ...     ...    ...    ...    ...       ...      ...
79        3  female  30.00      0      0   12.4750        S
108       3    male  38.00      0      0    7.8958        S
273       1    male  37.00      0      1   29.7000        C
860       3    male  41.00      2      0   14.1083        S
465       3    male  38.00      0      0    7.0500        S
299       1  female  50.00      0      1  247.5208        C
665       2    male  32.00      2      0   73.5000        S
39        3  female  14.00      1      0   11.2417        C
508       3    male  28.00      0      0   22.5250        S
745       1    male  70.00      1      1   71.0000        S
15        2  female  55.00      0      0   16.0000        S
125       3    male  12.00      1      0   11.2417        C
412       1  female  33.00      1      0   90.0000        Q
618       2  female   4.00      2      1   39.0000        S
197       3    male  42.00      0      1    8.4042        S
91        3    male  20.00      0      0    7.8542        S
781       1  female  17.00      1      0   57.0000        S
572       1    male  36.00      0      0   26.3875        S
571       1  female  53.00      2      0   51.4792        S
699       3    male  42.00      0      0    7.6500        S
272       2  female  41.00      0      1   19.5000        S
746       3    male  16.00      1      1   20.2500        S
820       1  female  52.00      1      1   93.5000        S
219       2    male  30.00      0      0   10.5000        S
672       2    male  70.00      0      0   10.5000        S
662       1    male  47.00      0      0   25.5875        S
408       3    male  21.00      0      0    7.7750        S
62        1    male  45.00      1      0   83.4750        S
325       1  female  36.00      0      0  135.6333        C
60        3    male  22.00      0      0    7.2292        C

[570 rows x 7 columns]

In [47]:
onehot_sex_enc = OneHotEncoder(categories=[['male', 'female']])

In [50]:
onehot_sex_enc.fit_transform(train_x[['Sex']]).toarray()

array([[1., 0.],
       [0., 1.],
       [1., 0.],
       ...,
       [1., 0.],
       [0., 1.],
       [1., 0.]])

In [51]:
onehot_sex_enc.categories_

[array(['male', 'female'], dtype=object)]

In [52]:
train_x[['Sex']] = onehot_sex_enc.fit_transform(train_x[['Sex']]).toarray()

ValueError: Must have equal len keys and value when setting with an ndarray

In [59]:
train_x = train_x.reset_index()

In [61]:
train_x = train_x.drop(columns=['index'])

In [62]:
train_x

     Pclass     Sex    Age  SibSp  Parch      Fare Embarked
0         1    male  19.00      3      2  263.0000        S
1         3  female  24.00      0      0    8.8500        S
2         3    male  32.00      0      0    7.8958        S
3         2    male   1.00      2      1   39.0000        S
4         2    male   0.83      1      1   18.7500        S
5         1    male  52.00      1      1   79.6500        S
6         3    male  17.00      1      0    7.0542        S
7         1  female  35.00      1      0   83.4750        S
8         3  female   9.00      4      2   31.2750        S
9         2  female  24.00      2      1   27.0000        S
10        1    male  56.00      0      0   35.5000        C
11        1    male  48.00      0      0   26.5500        S
12        2    male  54.00      1      0   26.0000        S
13        3  female  43.00      1      6   46.9000        S
14        3    male  32.00      0      0    7.9250        S
15        1  female  40.00      0      0  153.4625        S
16        3  female  63.00      0      0    9.5875        S
17        3    male  35.00      0      0    7.8958        C
18        2  female  36.00      0      0   13.0000        S
19        1  female  60.00      1      0   75.2500        C
20        1    male  37.00      1      1   52.5542        S
21        2    male  25.00      0      0   13.0000        S
22        3  female  30.50      0      0    7.7500        Q
23        2  female  34.00      0      0   10.5000        S
24        3    male  49.00      0      0    0.0000        S
25        1    male  64.00      1      4  263.0000        S
26        2    male  29.00      1      0   21.0000        S
27        3  female  19.00      0      0    7.8792        Q
28        1  female  22.00      0      2   49.5000        C
29        3    male  19.00      0      0    8.1583        S
..      ...     ...    ...    ...    ...       ...      ...
540       3  female  30.00      0      0   12.4750        S
541       3    male  38.00      0      0    7.8958        S
542       1    male  37.00      0      1   29.7000        C
543       3    male  41.00      2      0   14.1083        S
544       3    male  38.00      0      0    7.0500        S
545       1  female  50.00      0      1  247.5208        C
546       2    male  32.00      2      0   73.5000        S
547       3  female  14.00      1      0   11.2417        C
548       3    male  28.00      0      0   22.5250        S
549       1    male  70.00      1      1   71.0000        S
550       2  female  55.00      0      0   16.0000        S
551       3    male  12.00      1      0   11.2417        C
552       1  female  33.00      1      0   90.0000        Q
553       2  female   4.00      2      1   39.0000        S
554       3    male  42.00      0      1    8.4042        S
555       3    male  20.00      0      0    7.8542        S
556       1  female  17.00      1      0   57.0000        S
557       1    male  36.00      0      0   26.3875        S
558       1  female  53.00      2      0   51.4792        S
559       3    male  42.00      0      0    7.6500        S
560       2  female  41.00      0      1   19.5000        S
561       3    male  16.00      1      1   20.2500        S
562       1  female  52.00      1      1   93.5000        S
563       2    male  30.00      0      0   10.5000        S
564       2    male  70.00      0      0   10.5000        S
565       1    male  47.00      0      0   25.5875        S
566       3    male  21.00      0      0    7.7750        S
567       1    male  45.00      1      0   83.4750        S
568       1  female  36.00      0      0  135.6333        C
569       3    male  22.00      0      0    7.2292        C

[570 rows x 7 columns]

In [63]:
sex_df = pd.DataFrame(data=onehot_sex_enc.fit_transform(train_x[['Sex']]).toarray(),
                      columns=['male', 'female'])

In [64]:
sex_df

     male  female
0     1.0     0.0
1     0.0     1.0
2     1.0     0.0
3     1.0     0.0
4     1.0     0.0
5     1.0     0.0
6     1.0     0.0
7     0.0     1.0
8     0.0     1.0
9     0.0     1.0
10    1.0     0.0
11    1.0     0.0
12    1.0     0.0
13    0.0     1.0
14    1.0     0.0
15    0.0     1.0
16    0.0     1.0
17    1.0     0.0
18    0.0     1.0
19    0.0     1.0
20    1.0     0.0
21    1.0     0.0
22    0.0     1.0
23    0.0     1.0
24    1.0     0.0
25    1.0     0.0
26    1.0     0.0
27    0.0     1.0
28    0.0     1.0
29    1.0     0.0
..    ...     ...
540   0.0     1.0
541   1.0     0.0
542   1.0     0.0
543   1.0     0.0
544   1.0     0.0
545   0.0     1.0
546   1.0     0.0
547   0.0     1.0
548   1.0     0.0
549   1.0     0.0
550   0.0     1.0
551   1.0     0.0
552   0.0     1.0
553   0.0     1.0
554   1.0     0.0
555   1.0     0.0
556   0.0     1.0
557   1.0     0.0
558   0.0     1.0
559   1.0     0.0
560   0.0     1.0
561   1.0     0.0
562   0.0     1.0
563   1.0     0.0
564   1.0     0.0
565   1.0     0.0
566   1.0     0.0
567   1.0     0.0
568   0.0     1.0
569   1.0     0.0

[570 rows x 2 columns]

In [70]:
train_x = pd.concat((train_x[['Pclass']], sex_df, train_x.loc[:, 'Age':'Embarked']), axis=1)

In [71]:
train_x

     Pclass  male  female    Age  SibSp  Parch      Fare Embarked
0         1   1.0     0.0  19.00      3      2  263.0000        S
1         3   0.0     1.0  24.00      0      0    8.8500        S
2         3   1.0     0.0  32.00      0      0    7.8958        S
3         2   1.0     0.0   1.00      2      1   39.0000        S
4         2   1.0     0.0   0.83      1      1   18.7500        S
5         1   1.0     0.0  52.00      1      1   79.6500        S
6         3   1.0     0.0  17.00      1      0    7.0542        S
7         1   0.0     1.0  35.00      1      0   83.4750        S
8         3   0.0     1.0   9.00      4      2   31.2750        S
9         2   0.0     1.0  24.00      2      1   27.0000        S
10        1   1.0     0.0  56.00      0      0   35.5000        C
11        1   1.0     0.0  48.00      0      0   26.5500        S
12        2   1.0     0.0  54.00      1      0   26.0000        S
13        3   0.0     1.0  43.00      1      6   46.9000        S
14        3   1.0     0.0  32.00      0      0    7.9250        S
15        1   0.0     1.0  40.00      0      0  153.4625        S
16        3   0.0     1.0  63.00      0      0    9.5875        S
17        3   1.0     0.0  35.00      0      0    7.8958        C
18        2   0.0     1.0  36.00      0      0   13.0000        S
19        1   0.0     1.0  60.00      1      0   75.2500        C
20        1   1.0     0.0  37.00      1      1   52.5542        S
21        2   1.0     0.0  25.00      0      0   13.0000        S
22        3   0.0     1.0  30.50      0      0    7.7500        Q
23        2   0.0     1.0  34.00      0      0   10.5000        S
24        3   1.0     0.0  49.00      0      0    0.0000        S
25        1   1.0     0.0  64.00      1      4  263.0000        S
26        2   1.0     0.0  29.00      1      0   21.0000        S
27        3   0.0     1.0  19.00      0      0    7.8792        Q
28        1   0.0     1.0  22.00      0      2   49.5000        C
29        3   1.0     0.0  19.00      0      0    8.1583        S
..      ...   ...     ...    ...    ...    ...       ...      ...
540       3   0.0     1.0  30.00      0      0   12.4750        S
541       3   1.0     0.0  38.00      0      0    7.8958        S
542       1   1.0     0.0  37.00      0      1   29.7000        C
543       3   1.0     0.0  41.00      2      0   14.1083        S
544       3   1.0     0.0  38.00      0      0    7.0500        S
545       1   0.0     1.0  50.00      0      1  247.5208        C
546       2   1.0     0.0  32.00      2      0   73.5000        S
547       3   0.0     1.0  14.00      1      0   11.2417        C
548       3   1.0     0.0  28.00      0      0   22.5250        S
549       1   1.0     0.0  70.00      1      1   71.0000        S
550       2   0.0     1.0  55.00      0      0   16.0000        S
551       3   1.0     0.0  12.00      1      0   11.2417        C
552       1   0.0     1.0  33.00      1      0   90.0000        Q
553       2   0.0     1.0   4.00      2      1   39.0000        S
554       3   1.0     0.0  42.00      0      1    8.4042        S
555       3   1.0     0.0  20.00      0      0    7.8542        S
556       1   0.0     1.0  17.00      1      0   57.0000        S
557       1   1.0     0.0  36.00      0      0   26.3875        S
558       1   0.0     1.0  53.00      2      0   51.4792        S
559       3   1.0     0.0  42.00      0      0    7.6500        S
560       2   0.0     1.0  41.00      0      1   19.5000        S
561       3   1.0     0.0  16.00      1      1   20.2500        S
562       1   0.0     1.0  52.00      1      1   93.5000        S
563       2   1.0     0.0  30.00      0      0   10.5000        S
564       2   1.0     0.0  70.00      0      0   10.5000        S
565       1   1.0     0.0  47.00      0      0   25.5875        S
566       3   1.0     0.0  21.00      0      0    7.7750        S
567       1   1.0     0.0  45.00      1      0   83.4750        S
568       1   0.0     1.0  36.00      0      0  135.6333        C
569       3   1.0     0.0  22.00      0      0    7.2292        C

[570 rows x 8 columns]

In [86]:
onehot_emb_enc = OneHotEncoder(categories=[['C', 'S', 'Q']])

In [87]:
onehot_emb_enc.fit(train_x[['Embarked']])

OneHotEncoder(categorical_features=None, categories=[['C', 'S', 'Q']],
       dtype=<class 'numpy.float64'>, handle_unknown='error',
       n_values=None, sparse=True)

In [89]:
onehot_emb_enc.transform(train_x[['Embarked']]).toarray()

array([[0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       ...,
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.]])

In [90]:
emb_df = pd.DataFrame(data=onehot_emb_enc.transform(train_x[['Embarked']]).toarray(),
                      columns=['Cherbourg', 'Southampton', 'Queenstown'])

In [91]:
emb_df

     Cherbourg  Southampton  Queenstown
0          0.0          1.0         0.0
1          0.0          1.0         0.0
2          0.0          1.0         0.0
3          0.0          1.0         0.0
4          0.0          1.0         0.0
5          0.0          1.0         0.0
6          0.0          1.0         0.0
7          0.0          1.0         0.0
8          0.0          1.0         0.0
9          0.0          1.0         0.0
10         1.0          0.0         0.0
11         0.0          1.0         0.0
12         0.0          1.0         0.0
13         0.0          1.0         0.0
14         0.0          1.0         0.0
15         0.0          1.0         0.0
16         0.0          1.0         0.0
17         1.0          0.0         0.0
18         0.0          1.0         0.0
19         1.0          0.0         0.0
20         0.0          1.0         0.0
21         0.0          1.0         0.0
22         0.0          0.0         1.0
23         0.0          1.0         0.0
24         0.0          1.0         0.0
25         0.0          1.0         0.0
26         0.0          1.0         0.0
27         0.0          0.0         1.0
28         1.0          0.0         0.0
29         0.0          1.0         0.0
..         ...          ...         ...
540        0.0          1.0         0.0
541        0.0          1.0         0.0
542        1.0          0.0         0.0
543        0.0          1.0         0.0
544        0.0          1.0         0.0
545        1.0          0.0         0.0
546        0.0          1.0         0.0
547        1.0          0.0         0.0
548        0.0          1.0         0.0
549        0.0          1.0         0.0
550        0.0          1.0         0.0
551        1.0          0.0         0.0
552        0.0          0.0         1.0
553        0.0          1.0         0.0
554        0.0          1.0         0.0
555        0.0          1.0         0.0
556        0.0          1.0         0.0
557        0.0          1.0         0.0
558        0.0          1.0         0.0
559        0.0          1.0         0.0
560        0.0          1.0         0.0
561        0.0          1.0         0.0
562        0.0          1.0         0.0
563        0.0          1.0         0.0
564        0.0          1.0         0.0
565        0.0          1.0         0.0
566        0.0          1.0         0.0
567        0.0          1.0         0.0
568        1.0          0.0         0.0
569        1.0          0.0         0.0

[570 rows x 3 columns]

In [94]:
train_x = pd.concat((train_x.drop(columns=['Embarked']), emb_df), axis=1)

In [96]:
train_x

,Pclass,male,female,Age,SibSp,Parch,Fare,Cherbourg,Southampton,Queenstown
0,1,1.0,0.0,19.00,3,2,263.0000,0.0,1.0,0.0
1,3,0.0,1.0,24.00,0,0,8.8500,0.0,1.0,0.0
2,3,1.0,0.0,32.00,0,0,7.8958,0.0,1.0,0.0
3,2,1.0,0.0,1.00,2,1,39.0000,0.0,1.0,0.0
4,2,1.0,0.0,0.83,1,1,18.7500,0.0,1.0,0.0
5,1,1.0,0.0,52.00,1,1,79.6500,0.0,1.0,0.0
6,3,1.0,0.0,17.00,1,0,7.0542,0.0,1.0,0.0
7,1,0.0,1.0,35.00,1,0,83.4750,0.0,1.0,0.0
8,3,0.0,1.0,9.00,4,2,31.2750,0.0,1.0,0.0
9,2,0.0,1.0,24.00,2,1,27.0000,0.0,1.0,0.0
10,1,1.0,0.0,56.00,0,0,35.5000,1.0,0.0,0.0
11,1,1.0,0.0,48.00,0,0,26.5500,0.0,1.0,0.0
12,2,1.0,0.0,54.00,1,0,26.0000,0.0,1.0,0.0
13,3,0.0,1.0,43.00,1,6,46.9000,0.0,1.0,0.0
14,3,1.0,0.0,32.00,0,0,7.9250,0.0,1.0,0.0
15,1,0.0,1.0,40.00,0,0,153.4625,0.0,1.0,0.0
16,3,0.0,1.0,63.00,0,0,9.5875,0.0,1.0,0.0
17,3,1.0,0.0,35.00,0,0,7.8958,1.0,0.0,0.0
18,2,0.0,1.0,36.00,0,0,13.0000,0.0,1.0,0.0
19,1,0.0,1.0,60.00,1,0,75.2500,1.0,0.0,0.0
20,1,1.0,0.0,37.00,1,1,52.5542,0.0,1.0,0.0
21,2,1.0,0.0,25.00,0,0,13.0000,0.0,1.0,0.0
22,3,0.0,1.0,30.50,0,0,7.7500,0.0,0.0,1.0
23,2,0.0,1.0,34.00,0,0,10.5000,0.0,1.0,0.0
24,3,1.0,0.0,49.00,0,0,0.0000,0.0,1.0,0.0
25,1,1.0,0.0,64.00,1,4,263.0000,0.0,1.0,0.0
26,2,1.0,0.0,29.00,1,0,21.0000,0.0,1.0,0.0
27,3,0.0,1.0,19.00,0,0,7.8792,0.0,0.0,1.0
28,1,0.0,1.0,22.00,0,2,49.5000,1.0,0.0,0.0
29,3,1.0,0.0,19.00,0,0,8.1583,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...
540,3,0.0,1.0,30.00,0,0,12.4750,0.0,1.0,0.0
541,3,1.0,0.0,38.00,0,0,7.8958,0.0,1.0,0.0
542,1,1.0,0.0,37.00,0,1,29.7000,1.0,0.0,0.0
543,3,1.0,0.0,41.00,2,0,14.1083,0.0,1.0,0.0
544,3,1.0,0.0,38.00,0,0,7.0500,0.0,1.0,0.0
545,1,0.0,1.0,50.00,0,1,247.5208,1.0,0.0,0.0
546,2,1.0,0.0,32.00,2,0,73.5000,0.0,1.0,0.0
547,3,0.0,1.0,14.00,1,0,11.2417,1.0,0.0,0.0
548,3,1.0,0.0,28.00,0,0,22.5250,0.0,1.0,0.0
549,1,1.0,0.0,70.00,1,1,71.0000,0.0,1.0,0.0
550,2,0.0,1.0,55.00,0,0,16.0000,0.0,1.0,0.0
551,3,1.0,0.0,12.00,1,0,11.2417,1.0,0.0,0.0
552,1,0.0,1.0,33.00,1,0,90.0000,0.0,0.0,1.0
553,2,0.0,1.0,4.00,2,1,39.0000,0.0,1.0,0.0
554,3,1.0,0.0,42.00,0,1,8.4042,0.0,1.0,0.0
555,3,1.0,0.0,20.00,0,0,7.8542,0.0,1.0,0.0
556,1,0.0,1.0,17.00,1,0,57.0000,0.0,1.0,0.0
557,1,1.0,0.0,36.00,0,0,26.3875,0.0,1.0,0.0
558,1,0.0,1.0,53.00,2,0,51.4792,0.0,1.0,0.0
559,3,1.0,0.0,42.00,0,0,7.6500,0.0,1.0,0.0
560,2,0.0,1.0,41.00,0,1,19.5000,0.0,1.0,0.0
561,3,1.0,0.0,16.00,1,1,20.2500,0.0,1.0,0.0
562,1,0.0,1.0,52.00,1,1,93.5000,0.0,1.0,0.0
563,2,1.0,0.0,30.00,0,0,10.5000,0.0,1.0,0.0
564,2,1.0,0.0,70.00,0,0,10.5000,0.0,1.0,0.0
565,1,1.0,0.0,47.00,0,0,25.5875,0.0,1.0,0.0
566,3,1.0,0.0,21.00,0,0,7.7750,0.0,1.0,0.0
567,1,1.0,0.0,45.00,1,0,83.4750,0.0,1.0,0.0
568,1,0.0,1.0,36.00,0,0,135.6333,1.0,0.0,0.0
569,3,1.0,0.0,22.00,0,0,7.2292,1.0,0.0,0.0

In [95]:
from sklearn.preprocessing import StandardScaler

In [97]:
from sklearn.preprocessing import Imputer

In [98]:
from sklearn.preprocessing import Normalizer

In [99]:
from sklearn.tree import DecisionTreeClassifier

In [100]:
from sklearn.naive_bayes import MultinomialNB

In [101]:
from sklearn.linear_model import LogisticRegression

In [102]:
from sklearn.neural_network import MLPClassifier

In [ ]:
MLPClassifier()